{% extends "skel.html.jinja" %}
{% block body %}
    <div hx-ext="sse" sse-connect="/sse" style="display: contents;">
        <div class="overview">
            <div class="overview-info">
                <h3>Getting started</h3>
                <div class="overview-info__content">
                    <p>This is the dashboard for the <a href="https://aerynos.com">AerynOS</a> build infrastructure. In order to contribute, visit the <a href="https://aerynos.dev">documentation</a> and open a PR to the <a href="https://github.com/AerynOS/recipes">recipes</a> repository on GitHub.</p>
                    <h4>Current status: Alpha</h4>
                    <p>In-development Rust infrastructure, which is currently undergoing integration testing as of July 2026.</p>
                    <p>The user interface you see here is effectively a rough sketch, which is only surfacing just enough information for packagers and distro engineers to be able to derive value from it.</p>
                </div>
            </div>
            <div sse-swap="recent-events" style="display: contents;">
                {% include 'index-recent-events.html.jinja' %}
            </div>
            <div sse-swap="builders" style="display: contents;">
                {% include 'index-builders.html.jinja' %}
            </div>
        </div>
    </div>
{% endblock %}
