<div class="overview-recent">
    <h3>Recent Events</h3>
    <ul class="overview-recent__list">
        {% for task in tasks %}
            {% set status = task.status|capitalize %}
            <li class="overview-recent__list__item overview-recent__list__item--{{ task.status }}">
                {% if task.allocated_builder.description %}
                    <h4>{{ status }} #{{ task.id}} {{task.source_path}}{{ ' on ' ~ task.allocated_builder.description }}</h4>
                {% else %}
                    <h4>{{ status }} #{{ task.id}} {{task.source_path}}</h4>
                {% endif %}
                <p>{{ task.description }}</p>
                <div>{{ task.updated }}</div>
            </li>
        {% endfor %}
    </ul>
</div>
