<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no">

    <title>Summit</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <header>
        <div class="title-bar">
            <div class="container">
                <h1>Summit Dashboard</h1>
            </div>
        </div>
        <div class="menu-bar">
            <div class="container">
                <ul class="menu-bar__items">
                    <li><a href="/">Home</a></li>
                    <li><a href="/tasks">Tasks</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</body>

</html>
