<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no">

    <title>Summit</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">

    <style>
        .row {
            display: flex;
            max-width: fit-content;
            min-width: 50%;
        }
        .col {
            flex: 0;
        }
        .col-grow {
            flex: 1;
        }
        .mx-2 {
            margin-right: .5rem !important;
            margin-left: .5rem !important;
        }
    </style>
</head>

<body>
    <div>
        <a href="/">Home</a>
        <a href="/tasks">Tasks</a>
    </div>
    {% block body %}
    {% endblock %}
</body>

</html>
