{% extends "skel.html.jinja" %}
{% block body %}
    <div class="tasks-total-filter">
        <span>{{ total }} tasks</span>
        <span>|</span>
        <span class="tasks-total-filter__items">
            <a href="/tasks">All</a>
            {% for status in statuses %}
                <a href="/tasks?status={{ status }}">{{ status }}</a>
            {% endfor %}
        </span>
    </div>

    <div class="tasks">
        <ul class="tasks__list">
            {% if tasks | length == 0 %}
                <li class="tasks__list__item tasks__list__item--not-found">
                    {% if selected_status %}
                        No tasks found for status: <span> {{ selected_status }}</span>
                    {% else %}
                        No tasks found
                    {% endif %}
                </li>
            {% endif %}

            {% for task in tasks %}
                {% set profile = projects | profile(task.profile_id) %}
                {% set endpoint = endpoints | endpoint(task.allocated_builder) %}

                {% if endpoint.description is not none -%}
                    {% set builder_description = endpoint.description ~ ' ' -%}
                {% endif -%}

                <li class="tasks__list__item">
                    <code style="display:none">{{ task }}</code>

                    <div class="tasks__list__item__id"><span>#{{ task.id }}</span></div>
                    <div class="tasks__list__item__detail">
                        <a href="/logs/{{ task.id }}/build.log">{{ task.build_id }}</a>
                        <div>{{ task.description }}</div>
                    </div>
                    <div class="tasks__list__item__timing">
                        {% if task.ended %}
                            <span>Ended @ {{ task.ended }}</span>
                            <span title="{{ task.allocated_builder }}">{{ task.duration | format_duration }} on {{ builder_description }}</span>
                        {% elif task.started %}
                            <span>Started @ {{ task.started }}</span>
                            <span title="{{ task.allocated_builder }}">on {{ builder_description }}</span>
                        {% else %}
                            <span>Added @ {{ task.added }}</span>
                        {% endif %}
                    </div>
                    <div class="tasks__list__item__arch">
                        <span>{{ profile.arch }}</span>
                    </div>
                    <div class="tasks__list__item__status"><span class="badge badge--{{ task.status }}">{{ task.status }}</span></div>
                </li>
            {% endfor %}
        </ul>
    </div>

    {% if total > 0 %}
        {% if selected_status is not none -%}
            {% set and_status_filter = '&status=' ~ selected_status -%}
        {% endif -%}
        <nav class="pagination-wrap" aria-label="Pagination">
            <ul class="pagination">

                {# Previous Button #}
                <li class="page-item {% if page <= 1 %}disabled{% endif %}">
                    <a class="page-link" href="?page={{ page - 1 }}{{ and_status_filter }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                {# First page + ellipsis if not in pages_to_show #}
                {% if pages_to_show[0] > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1{{ and_status_filter }}">1</a>
                    </li>
                    {% if pages_to_show[0] > 2 %}
                        <li class="page-item disabled">
                            <span class="page-link">...</span>
                        </li>
                    {% endif %}
                {% endif %}

                {# Page Numbers #}
                {% for p in pages_to_show %}
                    <li class="page-item {% if p == page %}active{% endif %}">
                        <a class="page-link" href="?page={{ p }}{{ and_status_filter }}">{{ p }}</a>
                    </li>
                {% endfor %}

                {# Ellipsis + last page if not in pages_to_show #}
                {% if pages_to_show[pages_to_show | length - 1] < total_pages %}
                    {% if pages_to_show[pages_to_show | length - 1] < total_pages - 1 %}
                        <li class="page-item disabled">
                            <span class="page-link">...</span>
                        </li>
                    {% endif %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ total_pages }}{{ and_status_filter }}">{{ total_pages }}</a>
                    </li>
                {% endif %}

                {# Next Button #}
                <li class="page-item {% if page >= total_pages %}disabled{% endif %}">
                    <a class="page-link" href="?page={{ page + 1 }}{{ and_status_filter }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>

            </ul>
        </nav>
    {% endif %}

{% endblock %}
